title {
  color: green;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

ol{
  font-size: 20px;
  line-height: 30px;

}
.green-background {
  background-color: green;
  color: #9933CC
}
.red-background {
  background-color: red;
  color: #0d47a1
}
